body{
	background: url("../images/bg1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  
}

.panel{
	background-color: #a4a4a4;
	color: #ffffff;

}

.panel-heading{
	background-color: #4F5064;
}

#chat-window{

	overflow:auto;
}

#game-window{
	height: 70vh;
	display:flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

#join-window{
	height: 10em;
	border-right: 1px solid #777777;
}

#player-one, #player-two{
	padding: 10px;
	margin: 5px;
	flex: 1;
}

#game-results{
	padding: 10px;
	margin: 5px;
	flex: 1;
	border-left: 1px solid #777777;
	border-right: 1px solid #777777;
}

.selection-image{
	height: 100px;
	width: 100px;
	margin: 5px;
	border: none;
	text-align: center;
}

.paper{
	background: url("../images/paper1.png") center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.paper:hover{
	background: url("../images/paper2.png") center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.p1, .p2{
	margin: 10px;
}

.rock{
	background: url("../images/rock1.png") center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.rock:hover{
	background: url("../images/rock2.png") center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.scissor{
	background: url("../images/scissor1.png") center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.scissor:hover{
	background: url("../images/scissor2.png") center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#chat-input{
	color: #000000;
}

li {
	border-radius: 5px;
	box-shadow: -2px 2px 1px #a4a4a4;
	border: 1px solid #d8d8d8;
	font-size: 1.1em;
	font-weight: bold;
	margin: 10px;
	padding: 5px 15px;
	width: 75%;
}

.user-message{
	background-color: #377BB5;
	box-shadow: 2px 2px 1px #a4a4a4;
	color: #ffffff;
	text-align: left;	
}

li > footer{
	font-size: 0.9em;
	color: #f7f7f7;
	font-style: italic;
	font-weight: normal;
}

.default-message{
	background-color: #FFFFFF;
	color: #000000;
	text-align: right;
	margin-left: 25%;
}

.default-message footer{
	color: #000000;
}

@media only screen and (max-width: 767px) {
    #game-window{
    	flex-direction: column;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    #game-window{
    	flex-direction: column;
    }
}